/* Start Global ruls */
:root {
    --main-color: #e9608f;
    --gray-color: #636666;
    --darck-bg: #1f2122;
    --gray-bg: #27292a;
    --main-radius:23px;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:767px) {
    .container {
        max-width: calc(100% - 40px);
        padding: 0 30px;
    }
}

@media (min-width:767px) {
    .container {
        max-width: 740px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1199px) {
    .container {
        max-width: 1160px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--darck-bg);
    font-family: Cairo;
    
}

::selection{
    background-color: var(--main-color);
    color: white;
}

/* End Global ruls */
/* Start header */
header .container {
    padding: 30px 0;
}

header .container img {
    height: 50px;
    margin-right: 40px;
}

header .container .search input {
    background-color: var(--gray-bg);
    border: 1px solid transparent;
    max-width: 150px;
    padding: 15px;
    padding-left: 20px;
    border-radius: 50px;

}

header .container .search input:focus {
    outline: 0;
}

@media (min-width:992px) {
    header .container .search input:focus {
        outline: 0;
        border-color: var(--main-color);
        caret-color: var(--main-color);
    }

    header .container .search::before {
        content: "\f002";
        color: var(--gray-color);
        font-family: "font awesome 5 free";
        font-weight: 900;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        transition: .3s;
    }
}

header .container .search:focus-within::before,
header .container .search input:focus::placeholder {

    opacity: 0;
}

header .container .search input::placeholder {
    padding-left: 10px;
    transition: .3s;
}

header input[type="checkbox"] {
    display: none;
}

header .container ul {
    margin-left: auto;
    gap: 20px;
}

@media (max-width:991px) {
    header .menue {
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }

    header .menue span {
        border-radius: 3px;
        height: 4px;
        width: 100%;
        margin-top: 8px;
        background-color: white;
        transition: .3s;
    }

    header .menue span:nth-child(2) {
        width: 65%;
        margin-left: auto;
    }

    header input[type="checkbox"] {
        appearance: none;
        display: block;
        position: absolute;
        width: 50px;
        height: 100%;
        z-index: 10;
        top: 0;
        right: 0;
        background-color: transparent;
    }

    header input[type="checkbox"]:checked+.menue span:nth-of-type(1) {
        position: absolute;
        height: 2px;
        top: 10px;
        transform: rotate(45deg);
        background-color: var(--main-color);
    }

    header input[type="checkbox"]:checked+.menue span+span:nth-of-type(2) {
        width: 0;
        margin: 0;
    }

    header input[type="checkbox"]:checked+.menue span+span+span:nth-of-type(3) {
        position: absolute;
        height: 2px;
        top: 10px;
        transform: rotate(-45deg);
        background-color: var(--main-color);

    }

    header .container input[type="checkbox"]:checked+.menue+ul {
        top: 100%;
        top: calc(100% - 30px);
        visibility: visible;
        opacity: 1;
    }

    header .container ul {
        opacity: 0;
        border-radius: 20px;
        top: calc(100% + 20px);
        position: absolute;
        z-index: 10;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0;
        background-color: var(--gray-bg);
        transition: .3s;
        /* transition: opacity .6s ,top .3s; canceld this to hold the list */
        visibility: hidden;
    }

    header .container .search {
        width: 100%;
    }

    header .container ul li {
        width: 100%;
        text-align: center;
    }

    header .container ul li:not(:last-child) {
        border-bottom: 1px solid #433;
    }
}

header .container ul li a {
    display: block;
    padding: 15px;
}

header .container ul li:hover a {
    color: var(--main-color);
}

header .container ul li a.active {
    color: var(--main-color);
}

header .container .profile {
    display: block;
}

@media (max-width:991px) {
    header .container .profile img {
        display: none;
    }
}

@media (min-width:992px) {
    header .container .profile {
        display: flex;
        width: fit-content;
        border-radius: 100px;
        margin-left: 30px;
        background-color: var(--gray-bg);
        transition: .3s;
    }

    header .container .profile:hover {
        background-color: var(--main-color);
        cursor: pointer;
    }

    header .container .profile:hover a {
        color: white;

    }

    header .container .profile img {
        display: block;
        border-radius: 50%;
        padding: 5px;
        margin: 0px;
    }
}

/* End header */
/* Start home-page */
/* Start banner */
.home-page .banner {
    background-image: url(../imgs/banner-bg.jpg);
    background-size: cover;
    background-position: center center;
}

.home-page .banner .text span:first-child {
    margin-top: 55px;
    font-size: 28px;
}

.home-page .banner .text span.dis {
    margin-top: 25px;
    font-size: 35px;
    font-weight: bold;
}

.home-page .banner .text span .word {
    color: var(--main-color);
}

.home-page .banner .btn {
    margin-top: 25px;
    margin-bottom: 55px;
}

@media (max-width:767px) {
    .home-page .banner .btn {
        margin-left: auto;
        margin-right: auto;
    }
}

/* End banner */
/* Start Most-popular */
.most-popular {
    padding-bottom: 40px;

}

.most-popular h2 {
    font-size: 30px;
}

.most-popular .box-holder {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

}

@media (max-width:767px) {
    .most-popular h2 {
        font-size: 25px;
    }

    .most-popular .box-holder {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}


.most-popular .box-holder .box>img {
    width: 100%;
}

.most-popular .box-holder .box .game .rate i {
    color: gold;
}

.most-popular>a {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

/* End Most-popular */
/* Start Library */
.library {
    padding-bottom: 40px;
}

.library .row {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #333;
}

.library .row .imge img {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.library .row div {
    width: 120px;
}

@media (max-width:992px) {
    .library .row {
        flex-wrap: wrap;
    }

    .library .row div {
        flex-basis: 50%;
        text-align: center;
    }

    .library .row .imge {
        text-align: center;
        height: 80px;
    }

    .library .row .imge,
    .library .row div:last-child {
        flex-basis: 100%;
    }

    .library .row div:not(:last-child, :first-child) {
        margin-bottom: 20px;
    }
}

.library .row .download a {
    border-radius: 23px;
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.library .row .download a::before {
    content: "Download";
}

.library .row .download.done a::before {
    content: "Downloaded";
}

.library .row .download.done a {
    color: var(--gray-color);
    border-color: var(--gray-color);
}

.library>a {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 50%);
    left: 50%;
}

.library .fs-18 {
    font-size: 16px;
}

/* End Library */
/* End Home-page */
.footer {
    margin-top: 30px;
    padding: 10px;
    line-height: 1.9;
}

/* Start browse-Page */
@media (min-width:992px) {
    .holder {
        display: flex;
        gap: 40px;
        background-color: var(--gray-bg);
        
    }
    .holder .top-downloaded{
        flex-basis: 40%;
        min-width: 300px;
    }
    .holder .featured-games{
      width: 60%;
    }
   
}

.browse-page .head .nav-btns i:hover{
    color: var(--main-color);
    transform: scale(1.1);
}
.browse-page .head .nav-btns{
    color:var(--gray-color);
    cursor: pointer;
    font-size: 18px;
    transition:.3s;
}
.browse-page .games {
    overflow: hidden;    
}
.browse-page .games .game .image {
    width: 190px;
    height: 280px;
    overflow: hidden;
    position: relative;
}

.browse-page .games .game .image img {
    height: 100%;
}

.browse-page .games .game .name :last-child i {
    color: gold;
}
/* Start Top-Downloaded */
@media (max-width:992px) {
    .browse-page .top-downloaded {
        margin-top: 40px;
    }
}
.browse-page .top-downloaded .boxes .box{
    text-transform: capitalize;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
}
.browse-page .top-downloaded .boxes .box img{
    margin-right: 20px;
}
.browse-page .top-downloaded .boxes .box > i{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 50%;
}
.browse-page .top-downloaded > a{
    position: absolute;
    left: 50%;
    transform: translate(-50% ,50%);
}
/* End Top-Downloaded */
/* Start  How-to*/
.browse-page .how-to .steps div {
    border: 1px solid #555;
    margin-bottom: 30px;
}
@media (min-width:991px) {
    .browse-page  .how-to .steps {
        display: flex;
        gap: 30px;
    }
    .browse-page .how-to .steps div {
        margin-bottom: 0;
    }
}
.browse-page .how-to .steps div img{
    border-radius: 50%;
    width: 50px;
}
.browse-page .how-to .steps div p{
    line-height: 1.8;
}
.browse-page .how-to .steps .tow p a{
    color: white;
}
.browse-page .how-to .steps .tow p a:hover{
    color: var(--main-color);
}
.browse-page .how-to > a{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50% ,50% );
}

/* End  How-to*/
/* End browse-Page */
/* Start details-page */
@media (min-width:992px) {
    .details-page .images{
        display: flex;
        gap: 30px;
        align-items: flex-start;
    }
   
}
@media (max-width:991px) {
    .details-page .images > img {
        margin: 0 auto 30px;
        width: 100%;
    }
}

.details-page .images .img img{
    max-width: 100%;
}
/* Start details */
.details-page .details {
    display: flex;
    flex-direction: column;
}
.details-page .details .facts{
    justify-content: space-around;
}
.details-page .details .facts {
    text-align: center;
}
.details-page .details .facts :not(:first-child) i {
    color: var(--main-color);
}
.details-page .details img{
   width: 100%;
   border-radius: var(--main-radius);
}
.details-page .details .text p{
    line-height: 1.8;
}
.details-page .details .text a:hover{
    color:var(--main-color)
}
.details-page .details > a{
    border: 1px solid var(--main-color);
    transition: .3s;
}
.details-page .details > a:hover{
    border-color: white;
    background-color: white;
}

@media (min-width:767px) {
    .details-page .details {
    flex-direction: row;   
     flex-wrap: wrap;
    }
    .details-page .details .info ,
    .details-page .details .facts{
        flex-basis: calc(50% - 15px)
    }
    .details-page .details .text ,
    .details-page .details .bytton{
        width: 100%;
    }
}
@media (min-width:992px) {
    .details-page .details {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .details-page .details .info ,
    .details-page .details .facts{
        flex-basis:calc((100% - 30px )/ 2);
    }
    .details-page .details .facts{
        justify-content: center;
        gap: 35px;
    }
    .details-page .details img{
        width: calc((100% - 60px)/3);
    } 
    .details-page .details .text ,
    .details-page .details .button{
        width: 100%;
    }
}
/* Start related games */
.related .list .row .info{
    flex:1;
    marGin-left:10px
}
/* End related games */
/* End details-page */
/* Start Streams-page */
/* End Streams-page */